* {
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

div {
    display: flex;
    justify-content: space-between;
}

.mobile {
    display: none;
}

.desktop {
    margin: 0;
    width: 100%;
}

.Board {
/*    background-image: url('board.png');
    background-size: 100%;
*/
}

.Cell {
    background-color: #ffffff; 
}

.Cell.Empty {
    background-color: #a5a5a5; 
}

.Cell.green {
    background-color: #13b546;
    box-shadow: 3px 3px lightblue;
}
.Cell.green.Janus {
    background-image: url('janus.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.Cell.red {
    background-color: #fd3d3d;
    box-shadow: 3px 3px lightblue;
}

.Cell.red.Janus {
    background-image: url('janus.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.Cell.orange {
    background-color: #FFA500;
    box-shadow: 3px 3px rgb(176, 201, 210);
}

.Cell.orange.Janus {
    background-image: url('janus.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.Cell.purple {
    background-color: #821f82;
    box-shadow: 3px 3px lightblue;
}
.Cell.purple.Janus {
    background-image: url('janus.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.GroupOverlay {
    position:absolute;
    width: 20px;
    height: 20px;
    padding: 12px;
    top:0;
    left:0;
    background:rgb(135, 135, 135);
    opacity:0.50;
    width:100%;
    height:100%;
 }


.JanusGroup {
    width: 140px;
    height: 140px;
}

td {
    text-align: center;
    width: 65px;
    height: 65px;
}

.turn-text {
    text-align: center;
    display: block;
    display: inline-block;
    color: black;
    font-family: "open sans";
    font-size: 40px;
}

.player-text {
    text-align: center;
    display: block;
    display: inline-block;
    color: black;
    font-family: "open sans";
    font-size: 20px;
}

.Player{
    width: 20px;
    height: 20px;
    padding: 12px;
    border: 1px solid white;
    border-radius: 50px;
}

.Player.black {background-color: black;}
.Player.red{background-color: red;}
.Player.green{background-color: rgb(14, 115, 1);}
.Player.blue{background-color: blue;}

p {
    display: inline-block;
}

#divider {
    font-size: 90px;
    margin-left: 15px;
    margin-right: 15px;
}

span {
    display: inline-block;
}

@media screen and (max-width: 560px) {
    .red-piece {
        height: 4.5vw;
        width: 4.5vw;
    }

    .black-piece {
        height: 4.5vw;
        width: 4.5vw;
    }

    td {
        width: 12vw;
        height: 12vw;
    }

    .red-turn-text {
        font-size: 40px;
    }
    
    .black-turn-text {
        font-size: 40px;
    }

    table {
        margin: 0;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .red-turn-text {
        -webkit-transform:rotate(-180deg);
        -moz-transform:rotate(-180deg);
        -o-transform:rotate(-180deg);
        transform:rotate(-180deg);
        filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);    
    }
}

@media screen and (max-width: 380px) {
    .red-piece {
        height: 3vw;
        width: 3vw;
    }

    .black-piece {
        height: 3vw;
        width: 3vw;
    }
}

@media screen and (max-width: 345px) {
    .red-piece {
        height: 2.5vw;
        width: 2.5vw;
    }

    .black-piece {
        height: 2.5vw;
        width: 2.5vw;
    }
}

@media screen and (max-width: 300px) {
    .red-piece {
        height: 1.5vw;
        width: 1.5vw;
    }

    .black-piece {
        height: 1.5vw;
        width: 1.5vw;
    }

    .red-turn-text {
        font-size: 35px;
    }
    
    .black-turn-text {
        font-size: 35px;
    }
}